body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400; /* Deep green */
    padding: 10px 0;
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.lowkeylogo {
    height: 20px;
    width: 20px;
    margin-left: 0;
    margin-right: auto;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #00FF00; /* Bright green */
}

main {
    padding: 20px 0;
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #006400; /* Deep green */
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #555;
}

.apply-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.apply-step {
    flex: 1 1 300px;
    text-align: center;
    padding: 20px;
}

.apply-step img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.apply-step h3 {
    color: #006400; /* Deep green */
    margin-bottom: 10px;
}

.apply-step ol {
    text-align: left;
    padding-left: 20px;
    margin: 0;
    list-style-position: inside;
}

.apply-step p {
    text-align: left;
    padding-left: 20px;
}
.faq-image2 {
    height: 150px;
    width: max-content;
}
.faq-image3 {
    height: max-content;
    width: max-content;
    size: 0lh;
}
footer {
    text-align: center;
    background-color: #006400; /* Deep green */
    padding: 10px 0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #006400;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: black;
}
